*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html,body {
width: 100%;
height: 100%;
background-color: black;
}
#minicircle{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
    width:10px;
    height:10px;
    background-color: #888;
    border-radius: 50%;
    position: absolute;
    z-index: 99999;
}
.bounding{
    width: fit-content;
   overflow: hidden;
}
.boundelem{
    transform: translateY(100%);
}
#main{
    width: 100%;
    background-color: black;
}

#hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
}
#nav{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px 40px ;
    justify-content: space-between;
    color: white;
}
#nav a{
    font-size: 18px;
    text-decoration: none;
    color: white;
}
#heading{
    margin-top: 50px;
  
}
#heading h1{
    margin-left: 30px;
    line-height: 1;
    font-size: 10vw;
    font-weight: 400;
    opacity: 0.6;
}
#heading #secondh1{
    margin-left: 140px;
}
.blocktext{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: fit-content;
}
.blocktext h5{
    
    text-align: right;
}
#smallheadings{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 100px;
    padding-right:50px ;

}
#smallheadings h5{
    text-transform: uppercase;
    text-align: right;
    font-size: 1vw;
    margin-top: .5vw;
}
#herofooter a{
   color: white;
   text-decoration: none;
   text-transform: uppercase;
    
}
#herofooter{
    padding: 0 2vw;
    width: 100%;
    position: absolute;
    bottom: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.iconset{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #888;
}
#second{
 color: white;
padding-top: 200px;
padding-right:10vw ;
width: 100%;
height: 100vh;
background-color: black;
}
.elem{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 40px;
    width: 100%;
    border-top: 1px solid #888;
    padding: 3.5vw 3vw;
    padding-right: 0;
}
.elem h1{
    text-transform: uppercase;
    font-size: 5.6vw;
    opacity: 0.6;
    font-weight: 100;
}
.elemlast{
    border-bottom: 0.8px solid #888;
}

.elem img{
    opacity:0;
    pointer-events: none;
    height: 140%;
    z-index: 999;
    position: absolute;
    transform: translate(-50%, -50%);
}

#about{
    width: 100%;
    padding: 10vw 10vw;
    padding-left:40vw ;
    display: flex;
    align-items: center;
    gap: 50px;
    color: white;
    background-color: black;
}
#about img{
    height: 200px;
}
#textabout h5{
    margin-top: 40px;
    opacity: 0.6;
    text-transform: uppercase;
}
#about #textabout p{
    padding-top: 25px;
    line-height: 1.5;
    margin-bottom: 30px;
    font-size: 1rem;
}
#textabout{
    width: 25rem;
}
#textabout a{
color: white;
text-decoration: none;
border: 1px solid white;
padding: 12px 18px ;
border-radius:100px ;
}
#subscribe{
    padding: 20px 30px;
    padding-bottom: 7vw;
    text-transform: uppercase;
    background-color: black;
    color: white;
}
#subscribe h5{
    opacity: 0.6;
}
#subscribe h3{
    margin-top: 10px;
    font-size: 13px;
}
#footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    background-color: black;
    color: white;
}

#footerleft{
display: flex;
align-items: center;
gap: 10px;
}
#footerright{
    display: flex;
    align-items: center;
    gap: 35px;
}
#footerright a{
    color: white;
    text-decoration: none;

}